<div>
  <h1>User Registration</h1>
  <button (click)="openAddUserModal()">Register Employee</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Epf</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.name}}</td>
        <td>{{user.epf}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.address}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
